body {
  background-color: cyan;
}

h1 {
  color: grey;
  text-align: center;
  text-decoration: underline;
}
h2 {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
}
h3 {
  color: black;
  text-decoration: underline;
}
p {
  font-family: ariel;
  font-size: 20px;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
  text-align: center;
  background-color: white;
}
ul {
  font-family: ariel;
  font-size: 20px;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
  background-color: grey;
}
